<div class="principal">
    <title>Lista de Viajes</title>
    <style>
        body {
            font-family: Arial, sans-serif;
            margin: 0;
            padding: 0;
        }

        .container {
            max-width: 800px;
            margin: 0 auto;
            padding: 20px;
        }

        h1 {
            text-align: center;
        }

        .trip-list {
            list-style-type: none;
            padding: 0;
            margin: 0;
        }

        .trip-item {
            margin-bottom: 20px;
            padding: 10px;
            background-color: #f2f2f2;
            border-radius: 5px;
        }

        .trip-item .label {
            font-weight: bold;
        }
    </style>
    </head>

    <body>
        <div class="container">
            <h1>Lista de Viajes</h1>
            <ul class="trip-list">
                {{#each formattedTrips}}
                <div class="row">
                    <div class="col-6">
                        <li class="trip-item">
                            <p><span class="label">Origen:</span> {{origin.name}}</p>
                            <p><span class="label">Destino:</span> {{destination.name}}</p>
                            <p><span class="label">Día de Salida:</span> 22 de mayo</p>
                            <p><span class="label">Hora de Salida:</span> 10:00 AM</p>
                    </div>
                    <div class="passengers col-6">
                        <h6>Condcutor:</h6>
                        <img src="{{owner.imageUrl}}" alt="Passenger 1">
                        <span> {{owner.name}}</span>
                    </div>
                    {{#unless joined}}
                    <form
                        action="/seachTrip/{{departureDay}}/{{origin.name}}/{{destination.name}}/{{origin.id}}/{{destination.id}}"
                        method="POST" style="display: inline">
                        <input type="text" class="form-control" name="idTrip" value="{{_id}}" hidden>
                        <input type="submit" value="Apuntarme" class="btn btn-danger">
                    </form>
                    {{/unless}}
                    <form
                        action="/seachTrip/{{departureDay}}/{{origin.name}}/{{destination.name}}/{{origin.id}}/{{destination.id}}/details"
                        method="POST" style="display: inline">
                        <input type="text" class="form-control" name="idTrip" value="{{_id}}" hidden>
                        <input type="submit" value="Ver Detalles" class="btn btn-primary">
                    </form>


                </div>



                ------------------------------------------------------------------------------------------------------------------------------
                {{/each}}
                </li>

            </ul>

        </div>
</div>