{{#each trip}}
<div>
    <p>origen: {{origin.name}}</p>
    <p>destino: {{destination.name}}</p>
    <p>Salida: {{departureDate}}</p>
    <p>Llegada: {{arrivalDate}}</p>
    <p>Price: {{price}} €</p>
    <p>Owner: {{owner}} €</p>
</div>
{{/each}}