<div class="container">
    {{user}}
    <div class="row">
        <h2>WELCOME YOUR PROFILE:</h2>
        <hr>
        <div class="col-2">
            <img src={{imageUrl}} alt="imageProfile">
        </div>

        <div class="col-4">
            <p>Name:{{name}}</p>
            <p>Second name: {{secondName}}</p>
            <p>Role:{{role}} </p>
            <p>DNI:{{dni}} </p>
            <p>email:{{email}}</p>
            <p>phone:{{phoneNumber}}</p>
            <p>modelo coche:{{cardModel}}</p>
        </div>

    </div>
    <a href="/myProfile/{{id}}/edit" class="btn btn-dark btn-sm">edit my profile</a>


    <a href="/myReviews" class="btn btn-info btn-sm">Ver mis reviews</a>


    {{!-- form create reviewsen mi perfil pintar las reviews que le han puesto a ese --}}


</div>