<h2>create review</h2>


<div class="principal">
    {{#each trip}}
    {{owner.id}}
    {{/each}}


    <div class="container">
        <div class="row justify-content-center align-items-center" style="height: 90vh;">
            <div class="col-md-8">
                <div class="card">
                    <div class="card-body">
                        <form action="/createReview/{{idTrip}}" method="POST">
                            <div class="row mb-4">
                                <div class="col-6">
                                    <select class="form-select" aria-label="Default select example" name="addressee">
                                        <option selected>Choose</option>
                                        {{#if loggedUser.isPassenger}}
                                        {{#each trip}}
                                        {{#each passengers}}
                                        <option value="{{id}}">{{name}}</option>
                                        {{/each}}
                                        {{/each}}
                                        {{#unless loggedUser.isPassenger}}
                                        {{#each trip}}
                                        {{#each owner}}

                                        <option value="{{id}}">{{name}}</option>
                                        {{/each}}
                                        {{/each}}
                                        {{/unless}}
                                        {{/if}}

                                        {{#each trip}}
                                        {{owner}}
                                        {{/each}}





                                    </select>
                                </div>

                                <div class="col-6">
                                    <input type="number" class="form-control" id="rating" placeholder="rating"
                                        name="rating">
                                </div>

                                <div class="col">
                                    <label for="text" class="form-label">Message</label>
                                    <input type="text" class="form-control" id="text" name="text">
                                </div>

                            </div>


                            <div class="d-grid">
                                <button type="submit" class="btn btn-dark">enviar</button>
                            </div>

                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>

</div>