<div class="principal">
    <div class="container">
        <div class="row">
            <div class="card">
                <div class="card-header">
                    <ul class="nav nav-tabs card-header-tabs">

                        {{!-- MY PROFILE TAB --}}
                        <li class="nav-item">
                            <a class="nav-link active" aria-current="true" href="#">Profile</a>
                        </li>
                        {{!-- MY TRIPS TAB --}}
                        <li class="nav-item">
                            <a class="nav-link" href="#">Trips</a>
                        </li>
                        {{!-- MY REVIEWS TAB --}}
                        <li class="nav-item">
                            <a class="nav-link" href="/myReviews/{{id}}">Reviews</a>
                        </li>
                    </ul>
                </div>

                <div class="card-body">
                    {{!-- CONTENIDO DE: MY PROFILE / MY TRIPS / MY REVIEWS --}}

                    <div class="row">
                        <h2>WELCOME YOUR PROFILE:</h2>
                        <hr>
                        <div class="col-4">
                            <img src={{imageUrl}} alt="imageProfile">
                        </div>

                        <div class="col-8">
                            <p>Name:{{name}}</p>
                            <p>Second name: {{secondName}}</p>
                            <p>Role:{{role}} </p>
                            <p>phone:+34 *********</p>
                            {{#if loggedUser.isDriverOrAdmin}}
                            <p>modelo coche: {{car.model}}</p>
                            {{/if}}
                        </div>

                    </div>
                </div>
            </div>
        </div>
    </div>
</div>